#countdown{
   font-size: 40px;
   line-height: 2;
   color: #fff;
   background-color: #02A8F4;
   height: 200px;
   border-radius: 3px;
   margin: 20px;
   padding-left: 80px;
   padding-top: 10px;
}
